/* Base settings */
body {
  background-color: #09090b;
  color: #e4e4e7;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

/* Typography Defaults */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

code, pre, kbd {
  font-family: 'JetBrains Mono', monospace;
}

/* Custom Scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* Selection color */
::selection {
  background-color: rgba(34, 211, 238, 0.3); /* tech-primary with opacity */
  color: #fff;
}